{% extends "zumanji/layout.html" %}

{% block content %}
  <h3>Build Details</h3>
  {% include "zumanji/includes/build_details.html" %}

  <h3>Group Details</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width:60px; text-align:right;">ID</th>
        <th>Group</th>
        <th style="width:60px; text-align:center;">Tests</th>
        <th style="width:100px; text-align:center;">Duration (90th)</th>
        <th style="width:100px; text-align:center;">Historical</th>
      </tr>
    </thead>
    <tbody>
      {% include "zumanji/includes/group_row.html" %}
    </tbody>
  </table>

  <h3>Test Details</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width:60px; text-align:right">ID</th>
        <th>Test</th>
        <th style="width:60px; text-align:center;">Cache</th>
        <th style="width:60px; text-align:center;">Redis</th>
        <th style="width:60px; text-align:center;">SQL</th>
        <th style="width:60px; text-align:center;">Duration</th>
      </tr>
    </thead>
    <tbody>
      {% include "zumanji/includes/test_row.html" %}
    </tbody>
  </table>

  {% if test.description %}
    <blockquote>{{ test.description|linebreaks }}</blockquote>
  {% endif %}

  <pre>{{ test.data|pprint }}</pre>

  {% if trace %}
    <h3>Trace <small>{{ trace|length }} calls</small></h3>
    <table class="table table-bordered table-striped">
      <thead>
        <th style="width:100px; text-align:right;">Interface</th>
        <th>Command</th>
        <th style="width:60px; text-align:center;">Duration</th>
      </thead>
      </thead>
      <tbody>
      {% for call in trace %}
        <tr>
          <td style="text-align:right;">{{ call.interface }}</td>
          <td style="padding-left: {{ call.depth }}px;">{{ call.command|truncatechars:100 }} {{ call.args|truncatechars:50 }}</td>
          <td style="text-align:center;">{{ call.duration|floatformat:3 }} s</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}