body {
  background: #f9f9f9;
  padding-top: 42px; /* 42px to make the container go all the way to the bottom of the topbar */
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

blockquote p {
  margin-bottom: 10px;
}


footer {
  color: #666;
  font-size: 0.9em;
  text-align: center;
  padding: 30px;
}
footer a {
  font-weight: bold;
}

#navbar, #content {
  position: relative;
  background: #fff;
}
.navbar {
  background: #fff;
  height: 42px;
}

.brand small {
  color: #999;
  font-size: 0.7em;
}
.brand:hover {
  color: #08C;
}
.meta {
  color: #888;
}
.increase {
  color: red;
}
.decrease {
  color: green;
}
.sparktooltip {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-size: 0.9em;
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}
.sparktooltip h4 {
  font-weight: bold;
  color: orange;
  margin: 0;
  font-size: 1.2em;
}
.sparktooltip ul {
  list-style: none;
  margin: 0;
}

.legend {
  position: absolute;
  background: #fff;
  line-height: 1;
  padding: 3px;
  margin: 0;
  top: 3px;
  left: 3px;
  list-style: none;
  opacity: 0.7;
}
.legend li {
  display: inline-block;
  margin-right: 8px;
}
.legend span {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.progressbar {
    font-size: 0.8em;
    padding: 1px;
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
    position: relative;
    display: block;
    font-weight: bold;
}
.progressbar div {
    background: #343434;
    height: 100%;
    display: block;
}
.progressbar span {
    display: block;
    text-align: left;
    position: absolute;
    padding: 0 5px;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
}

.change-increase {
  color: red;
}
.change-decrease {
  color: green;
}
.trace-diff {
}
.trace-diff td div {
  width: 460px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.trace-diff td .indent {
  display: inline-block;
  width: 2px;
}
.diff-delete {
  color: red;
}
.diff-insert {
  color: green;
}
.diff-replace {
  color: blue;
}
ul.traceback {
  list-style-type: none;
  margin-left: 0;
}
ul.traceback li.frame {
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}
ul.traceback code {
  background: inherit;
  border: none;
  color: #000;
}
ol.context {
  margin: 0;
  list-style-position: inside;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  .border-radius(3px);
}
ol.context li {
  padding-left: 20px;
  font-family:monospace;
  white-space:pre;
  color:rgba(0,0,0,.75);
  background-color: #f5f5f5;
}
ol.context li pre {
  background-color: inherit;
  color: rgba(0,0,0,.5);
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  font-size: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
ol.context li.active {
  background-color: #ddd;
}
ol.context li.active pre {
  color: #000;
}
ol.context-line li span {
  float: right;
}

.expandable {
  cursor: pointer;
}
.expandable .closed {
  height: 0;
  overflow: hidden;
}

.modal {
  overflow: none;
  margin-top: -350px;
  width: 800px;
  margin-left: -400px;
}
.modal-body {
  max-height: 600px;
}

.git-log {
  margin-bottom: 20px;
}
.git-log li {
  position: relative;
  margin-left: 0;
  list-style-type: none;
  padding-left: 50px;
  min-height: 40px;
  margin-bottom: 10px;
}
.git-log li .avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.git-log li blockquote {
  display: none;
}
.git-log li a {
  font-weight: bold;
  color: #000;
}
.git-log li .author {
  font-size: 0.9em;
  color: #666;
}

section.section {
  margin-bottom: 40px;
}

.project-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
}
.project-list li {
  margin-left: 0;
  margin-bottom: 10px;
}